
.agency-navbar-font-size{
    font-size: 14px;
}

.main-content-padding{
    padding-top: 50px;
}

/*Needs to be the second rule or else it is overridden*/
@media (min-width: 768px){
    .agency-navbar-font-size {
        font-size: 21px;
    }

    .main-content-padding{
        padding-top: 70px;
    }
}


.super-strong{
    style: "font-weight: 900;
}


.eaa-logo-topbar{
    width: 60px;
    height: 60px;
    margin-top: -20px;
    margin-left:10px
}

.navbar-default .nav li a.invert{
    background-color: white;
    color: #307F98;
}

.horizontal-flex-wrapper-nowrap{
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.horizontal-flex-fill-height {
    -webkit-flex: 1 0 auto; /* Chrome */
    -ms-flex: 1 0 auto; /* IE 10 */
    flex: 1 0 auto; /* NEW, */
}

.vertical-flex-wrapper
{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.vertical-flex-filler
{
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, */
}

section.reduced-padding
{
    padding: 75px;
}